* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #333333;
    color: white;
    padding: 1rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

#headerContent {
    display: flex;
    align-items: center;
    padding-left: 450px;
}

#searchInput {
    padding: 0.5rem;
    width: 300px;
    height: 49.6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#regionFilter {
    padding: 0.5rem;
    height: 49.6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#populationSearch {
    padding: 0.5rem;
    height: 49.6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filters {
    display: inline-grid;
    margin-right: 15px;
}

#countryList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

#countries {
    background-color: #E0E0E0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 28.8px;
    display: contents;
}

.image-container {
    width: 200px;
    height: 105px;
    overflow: hidden;
}

#loadMoreBtn {
    margin-top: -10px;
    height: 38.4px;
    font-size: 1rem;
    background-color: #3c3c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.country-card {
    background-color: #E0E0E0;
    padding: 30px;
    height: -webkit-fill-available;
}

#back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3c3c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#countryDetail {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.country-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-detail img {
    width: 500px;
    height: auto;
}

.country-info-detail {
    margin-left: 35px;
    margin-top: 10px;
}